@model Commencement.Core.Domain.TermCode
@{
    ViewBag.Title = "UC Davis Commencement";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

@section AdditionalStyles
{
<style type="text/css">
    #footer {
        display: none;
        height: 0;
        margin-top: 0;
    }

    .main {
        padding-bottom: 0;
    }
</style>
}

<div class="banner">
    <div class="banner_contents">
        <img src="@Url.Content("~/Images/Media/commencement_welcome.svg")" alt="">
    </div>
</div>
@if (Model.CanRegister() || (bool)ViewBag.Registered)
{
    <div class="lead">
        <div class="lead_contents">
            <h3>Hi <b>@ViewBag.StudentName</b>
            </h3>
            <p>Our records show that you are <span class="sunny-grass"><b>eligible</b></span> for the Spring 2016 Commencement Ceremony.
            </p>
            <a href="/register" class="btn btn-18 btn-green">Register Now</a>
        </div>
    </div>
}
<div class="main">
    <div class="main_contents">
        <h1>Information</h1>
        <div class="instructions">
            @Html.Raw(Model.LandingText)
        </div>
    </div>
</div>

