<connectionStrings>
  <add name="MainDB" connectionString="Data Source=donbot;Initial Catalog=Commencement;Integrated Security=True" providerName="System.Data.SqlClient"/>
  <add name="CATBERT" connectionString="Data Source=donbot;Initial Catalog=CATBERT3;Integrated Security=True" providerName="System.Data.SqlClient"/>
  <add name="Ratbert" connectionString="Data Source=donbot;Initial Catalog=Ratbert;Integrated Security=True" providerName="System.Data.SqlClient"/>
</connectionStrings>