@{
    ViewBag.Title = "Student Not Found";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

@section NavButtons
{
    <div class="pull-right">
        @Html.Partial("_LogonPartial")
    </div>
}

<div class="banner banner--register">
    <div class="banner_contents">
        <img src="@Url.Content("~/Images/Media/commencement_welcome.svg")" alt="">
    </div>
</div>

<div class="main">
    <div class="main_contents">
        <h2>Error - Student Not Found</h2>

        <p>
            We were unable to find your record.  Please contact the commencement coordinator at commencement@caes.ucdavis.edu.
        </p> 
    </div>
</div>

