@{
    ViewBag.Title = "Registration Not Open";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

@section NavButtons
{
    <div class="pull-right">
        @Html.Partial("_LogonPartial")
    </div>
}

<div class="banner banner--register">
    <div class="banner_contents">
        <img src="@Url.Content("~/Images/Media/commencement_welcome.svg")" alt="">
    </div>
</div>

<div class="main">
    <div class="main_contents">
        <h2>Error - Registration Not Open</h2>

        <p>
            Registration is not open yet.  Please refer to the main website for details.
        </p>
    </div>
</div>

