@{
    ViewBag.Title = "Previously Participated";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

@section NavButtons
{
    <div class="pull-right">
        @Html.Partial("_LogonPartial")
    </div>
}

<div class="banner banner--register">
    <div class="banner_contents">
        <img src="@Url.Content("~/Images/Media/commencement_welcome.svg")" alt="">
    </div>
</div>

<div class="main">
    <div class="main_contents">
        <h2>Error - Previously Participated</h2>

        <p>Our records indicate that you have previously participated in a commencement ceremony.</p>

    </div>
</div>
