@{
    ViewBag.Title = "Unauthorized Access";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

@section NavButtons
{
    <div class="pull-right">
        @Html.Partial("_LogonPartial")
    </div>
}

<div class="banner banner--register">
    <div class="banner_contents">
        <img src="@Url.Content("~/Images/Media/commencement_welcome.svg")" alt="">
    </div>
</div>

<div class="main">
    <div class="main_contents">
        <h2>Error - Unauthorized Access</h2>

        <p>
            You do not have access to view the requested page.
        </p>
    </div>
</div>
