@using NHibernate.Util
@model Commencement.Controllers.ViewModels.RegistrationModel
    
<p>Please indicate any special needs you (personally) have that will affect your ability to participate in the ceremony (lining up, sitting, crossing the stage, etc.). For guest accommodations, please refer back to the <a href="http://commencement.ucdavis.edu">UC Davis Commencement site.</a></p>
<div class="form__wrapper">
    <div class="input__group">
        @Html.DropDownList("SpecialNeeds", new SelectList(Model.FullSpecialNeeds, "Id", "Name", Model.Registration != null && Model.Registration.SpecialNeeds.FirstOrDefault() != null ? Model.Registration.SpecialNeeds.FirstOrDefault().Id.ToString() : string.Empty), "--Special Needs Request--")
    </div>
</div>

@foreach (var sn in Model.SpecialNeedsOld)
{
    var tip = Model.FullSpecialNeeds.FirstOrDefault(a => a.Id.ToString() == sn.Value);
    var showTip = tip != null && Model.Registration != null && Model.Registration.SpecialNeeds.FirstOrDefault() != null && Model.Registration.SpecialNeeds.FirstOrDefault().Id == tip.Id ? string.Empty : "display: none";
    <div id="special-needs-tip">        
        @if (tip != null)
        {
            <div id="@(string.Format("SpecialNeed{0}", sn.Value))" class="alert alert-danger" style="@showTip">@tip.Tip</div>
        }
    </div>
}
